.usersWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.usersWrapper p {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #333;
  height: 30px;
  margin: 0;
  cursor: pointer;
  opacity: 0.3;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
}

.usersWrapper p:hover {
  opacity: 1;
}

.usersWrapper input {
  height: 20px;
  width: 20px;
}

.userDataAdmin {
  color: crimson;
  border: 1px solid crimson;
  opacity: 1;
}
