.logSigToggle {
  width: 100%;
}

.logSigToggle > p {
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.logSigToggle > p > a {
  color: #333333bb;
  padding-bottom: 6px;
  text-decoration: none;
  padding-bottom: 6px;
  transition: 0.2s;
  user-select: none;
  position: relative;
}

.logSigToggle a:hover {
  color: #333;
}

.logSigToggle a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background-color: #333333;
  bottom: 0;
  left: 0;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
  transition-delay: 0.15s;
}
.logSigToggle a:hover::before {
  transform: scaleX(1);
}
