.Account {
  max-width: 1200px;
  margin: 0px auto;
  background-color: crimson;
  color: #fff;
  box-sizing: border-box;
  padding: 10px;
}

@media screen and (max-width: 800px) {
  .Account {
    margin-top: 20px;
  }
}
